name: Tests

on: push

jobs:
  build-n-publish:
    name: Test, build and publish

    runs-on: ubuntu-latest
    container: ${{ matrix.container }}
    strategy:
      matrix:
        include:
          - python-version: "3.7"
            container: "python:3.7-slim-buster"
          - python-version: "3.8"
            container: "python:3.8-slim-buster"
          - python-version: "3.9"
            container: "python:3.9-slim-buster"
          - python-version: "3.10"
            container: "python:3.10-slim"
          - python-version: "3.11"
            container: "python:3.11-slim"
          - python-version: "3.12"
            container: "python:3.12-slim"
          - python-version: "3.14"
            container: "python:3.14-rc-slim"

    steps:
      - uses: actions/checkout@v4
      - name: Dependencies
        run: |
          pip install wheel setuptools rstcheck tlds
      - name: Test
        run: |
          python -m unittest discover -s tests
      - name: Test readme
        run: |
          rstcheck README.rst
      - name: Build a binary wheel and a source tarball
        run: |
          python setup.py sdist bdist_wheel
